{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Meus TCCs - Repositório de TCC</title>
{% endblock %}
{% block conteudo %}
    {% include 'partils/_alertas.html' %}
    <div>
        <div>
            <h2>TCCs de
            <a href="#" class="btn btn-primary float-end"><i class="bi bi-plus-lg"></i> Adicionar TCC</a>
            </h2>
            <hr>
        </div>
    </div>
    <form action="?" method="GET">
        <input type="text" name="nome" id="" value="{{ request.GET.nome }}" class="p-1 border" autocomplete="off" placeholder="Nome ou parte dele">
        <button type="submit" class="btn btn-success">Buscar</button>
        <a href="#" class="btn btn-light">Limpar</a>
    </form>
    <br>
    <div class="row">
        {% for tcc in object_list %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'detalhar_tcc' tcc.id %}">
                    <iframe id="iframe_pdf" src="{{ tcc.arquivo.url }}" style="width:800px; height:800px;" frameborder="0"></iframe>
                </a>
                <div class="card-body">
                    <a href="{% url 'detalhar_livro' livro.id %}" class="text-decoration-none text-reset"><h5 class="card-title">{{ livro.titulo }}</h5></a>
                    <strong><p>Autor(es): </strong> {{ autor.nome }}</p>

                    {% endfor %}
                    <a href="{% url 'editar_tcc' tcc.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'deletar_tcc' tcc.id %}" class="btn btn-danger">Deletar</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Nenhum TCC registrado.</p>
        {% endfor %}
    </div>

{% endblock %}