{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Autores - Repositório de TCC</title>
{% endblock %}
{% block conteudo %}
    {% include 'partils/_alertas.html' %}
    <div>
        <h2>Lista de Autores
        {% if request.user.is_authenticated %}
        <a href="{% url 'criar_autores' %}" class="btn btn-primary float-end"><i class="bi bi-plus-lg"></i> Adicionar Autor</a>
        {% endif %}
        </h2>
        <hr>
    </div>
    <div class="table-responsive">
        <table style = "border-collapse: collapse; border: 1px solid;" class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th style = "border: 1px solid;" scope="col">Nome</th>
                    <th style = "border: 1px solid;" scope="col">Sobrenome</th>
                    <th style = "border: 1px solid;" scope="col">Foto</th>
                    {% if request.user.is_authenticated %}
                    <th style = "border: 1px solid;" scope="col">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for autor in object_list %}
                <tr>
                    <td style = "border: 1px solid;">{{ autor.primeiro_nome }}</td>
                    <td style = "border: 1px solid;">{{ autor.ultimo_nome }}</td>
                    <td style = "border: 1px solid;"><img style = "width: 100px; height:100px; display: block; " src="{{ autor.foto_miniatura.url }}" alt=""></td>

                    {% if request.user.is_authenticated %}
                    <td style = "border: 1px solid;">
                        <a href="{% url 'editar_autores' autor.pk %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a href="{% url 'deletar_autores' autor.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Excluir</a>
                    </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Nenhum(a) autor(a) registrado(a).</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}